<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.ruoyi.system.mapper.FinancingLogMapper">
    
    <resultMap type="FinancingLog" id="FinancingLogResult">
        <result property="id"    column="id"    />
        <result property="financingId"    column="financing_id"    />
        <result property="sysuserId"    column="sysuser_id"    />
        <result property="status"    column="status"    />
        <result property="note"    column="note"    />
        <result property="createTime"    column="create_time"    />
        <result property="updateTime"    column="update_time"    />
    </resultMap>

    <sql id="selectFinancingLogVo">
        select id, financing_id, sysuser_id, status, note, create_time, update_time from financing_log
    </sql>

    <select id="selectFinancingLogList" parameterType="FinancingLog" resultMap="FinancingLogResult">
        <include refid="selectFinancingLogVo"/>
        <where>  
            <if test="financingId != null "> and financing_id = #{financingId}</if>
            <if test="sysuserId != null "> and sysuser_id = #{sysuserId}</if>
            <if test="status != null "> and status = #{status}</if>
            <if test="note != null  and note != ''"> and note = #{note}</if>
        </where>
    </select>
    
    <select id="selectFinancingLogById" parameterType="Long" resultMap="FinancingLogResult">
        <include refid="selectFinancingLogVo"/>
        where id = #{id}
    </select>
        
    <insert id="insertFinancingLog" parameterType="FinancingLog" useGeneratedKeys="true" keyProperty="id">
        insert into financing_log
        <trim prefix="(" suffix=")" suffixOverrides=",">
            <if test="financingId != null">financing_id,</if>
            <if test="sysuserId != null">sysuser_id,</if>
            <if test="status != null">status,</if>
            <if test="note != null">note,</if>
            <if test="createTime != null">create_time,</if>
            <if test="updateTime != null">update_time,</if>
         </trim>
        <trim prefix="values (" suffix=")" suffixOverrides=",">
            <if test="financingId != null">#{financingId},</if>
            <if test="sysuserId != null">#{sysuserId},</if>
            <if test="status != null">#{status},</if>
            <if test="note != null">#{note},</if>
            <if test="createTime != null">#{createTime},</if>
            <if test="updateTime != null">#{updateTime},</if>
         </trim>
    </insert>

    <update id="updateFinancingLog" parameterType="FinancingLog">
        update financing_log
        <trim prefix="SET" suffixOverrides=",">
            <if test="financingId != null">financing_id = #{financingId},</if>
            <if test="sysuserId != null">sysuser_id = #{sysuserId},</if>
            <if test="status != null">status = #{status},</if>
            <if test="note != null">note = #{note},</if>
            <if test="createTime != null">create_time = #{createTime},</if>
            <if test="updateTime != null">update_time = #{updateTime},</if>
        </trim>
        where id = #{id}
    </update>

    <delete id="deleteFinancingLogById" parameterType="Long">
        delete from financing_log where id = #{id}
    </delete>

    <delete id="deleteFinancingLogByIds" parameterType="String">
        delete from financing_log where id in 
        <foreach item="id" collection="array" open="(" separator="," close=")">
            #{id}
        </foreach>
    </delete>
</mapper>